.form-container {
  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 50%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-field {
  display: block;
  margin: 0px 0px 15px 20px;
  padding: 4px;
  width: 80%;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-size: 1rem;
}

.submit-button {
  color: white;
  margin: 10px 20px;
  width: 40%;
  height: 8%;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  padding-block: 5px;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
